[Ss]cripts
tools/
backups/

.venv
node_modules/
__pycache__/
.ruff_cache/

logs
db.sqlite3

.git
.gitignore
.idea/
.pre-commit-config.yaml
*.md
Dockerfile.dev
docker-compose.dev.yml
!/docker/.md/
/staticfiles/
/static/

/media/
/hr_core/static/hr_core/dist/
/docs/test_prompt.txt
