db.sqlite3
node_modules
.idea
.python-version
/.idea/
/static/
/media/
/venv/
/.venv/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
/hr_django/.env
*/.env
.env
