# --- Local env / secrets ---
dev.env
env/.env
.django-secret
.django_secret
/python-version
/.python-version
.env.dev
.env.prod
hr_config/env/
.venv/
venv/
env/
db.sqlite3
/static/
logs/
node_modules/
.idea/
.ruff_cache
backups/
docker/.md/
[Ss]cripts
.venv
pip-selfcheck.json
logs
*.log
.env
dist/
MANIFEST
**/dist/
