[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-phonenumber-field = "*"
better_exceptions = "*"
python-dotenv = "*"
requests = "*"
django-debug-toolbar = "*"
pip-search = "*"
datetime = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.5"
