{% load static %}

/* CSS RESET */

/**, *::before, *::after{*/
/*    box-sizing: border-box;*/
/*}*/

/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*ul[role='list'], ol[role='list']{*/
/*    list-style: none;*/
/*}*/

/*html:focus-within{*/
/*    scroll-behavior: smooth;*/
/*}*/

/*a:not([class]){*/
/*    text-decoration-skip-ink: auto;*/
/*}*/

/*img, picture, svg, video, canvas{*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*    vertical-align: middle;*/
/*    font-style: italic;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

/*input, button, textarea, select{*/
/*  font: inherit;*/
/*}*/

/*@media (prefers-reduced-motion: reduce){*/
/*    html:focus-within {*/
/*        scroll-behavior: auto;*/
/*    }*/
/*    *, *::before, *::after {*/
/*        animation-duration: 0.01ms !important;*/
/*        animation-iteration-count: 1 !important;*/
/*        transition-duration: 0.01ms !important;*/
/*        scroll-behavior: auto !important;*/
/*        transition: none;*/
/*    }*/
/*}*/

/*body, html{*/
/*    height: 100%;*/
/*    scroll-behavior: smooth;*/
/*}*/
/* END RESET*/

/*font-family: 'Bruno Ace SC', sans-serif;*/
/*font-family: 'Bungee Hairline', sans-serif;*/
/*font-family: 'Bungee Inline', sans-serif;*/
/*font-family: 'Bungee Shade', sans-serif;*/
/*font-family: 'Bungee Spice', sans-serif;*/
/*font-family: 'Cabin Sketch', sans-serif;*/
/*font-family: 'Dosis', sans-serif;*/
/*font-family: 'Major Mono Display', monospace;*/
/*font-family: 'Montserrat Subrayada', sans-serif;*/
/*font-family: 'Raleway Dots', sans-serif;*/
/*font-family: 'Rock Salt', cursive;*/
/*font-family: 'Tilt Neon', sans-serif;*/
/*font-family: 'Urbanist', sans-serif;*/


/* CSS for parallax sections */

/*.parallax-section {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    min-width: 100%;*/
/*    !*height: auto;*!*/
/*    !*overflow: hidden;*!*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-attachment: fixed;*/
/*}*/


#content-wrapper {
    height: 100%;
    /*min-height: 1080px;*/
    min-height: 100vh;
    top: 0;
    bottom: 0;
}


/*#pc-0, #pc-1, #pc-2, #pc-3 {*/
.parallax-background {
    /*max-width: 100%;*/
    /*min-width: 100%;*/
    /*height: auto;*/
    /*min-height: 1080px;*/
    /*z-index: 1;*/
    /*background-repeat: no-repeat;*/
    /*background-clip: border-box;*/
    position: sticky;
    top: 0;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /*padding-top: 10%;*/
    /*padding-bottom: 10%;*/
}

/*.parallax-background {*/
/*    position: relative;*/
/*    !*width: 100%;*!*/
/*    !*min-width: 100%;*!*/
/*    !*height: auto;*!*/
/*    width: auto;*/
/*    min-height: 1080px;*/
/*    height: 100%; !* test, and changed width from 1920px *!*/
/*    background-position: center;*/
/*    background-attachment: fixed;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 50;*/
/*}*/

.parallax-foreground {
    /*position: relative;*/
    /*height: auto;*/
    /*width: 80%;*/
    /*z-index: 100;*/
    /*overflow-y: visible;*/
    /*!*padding-top: 20px;*!*/
    /*padding-bottom: 20px;*/
    /*background-color: transparent;*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*font-size: xxx-large;*/
    /*text-align: center;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 14pt;
    color: white;
}

/*!*/
#img-0, #img-1, #img-2, #img-3 {
    width: 100%;
    /*height: auto;*/
}

/*!*/
.banner {
    font-size: 48pt;
    font-family: 'Bungee Hairline', sans-serif;

    /*font-family: "Taurus Mono Outline", fantasy;*/
}

/*!*/
.wipe-img {
    min-width: 1920px;
    width: 100%
}

/*!*/
/*body {*/
/*    overflow: visible;*/
/*}*/

/*!*/
.sticky {
    /*position: fixed;*/
    /*top: 0;*/
    /*width: 100%;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/*!*/
.sticky,
#content {
    padding-top: 102px;
}

/*!*/
#content {
    /*padding: 16px;*/
    background-color: black;
    color: black;
}

/*!*/
#page-header {
    padding: 0 10vw;
    background-color: black;
    color: darkorange;
    font-size: 4rem;
    transition: all 3s ease;
}

/*!*/
.unstick {
    top: -500px;
}

/*.data-scroll-section {*/
/*    position: absolute;*/
/*}*/

.sticky-container {
    /*min-height: 2000px;*/
    /*width: 100%;*/
    /*background-color: black;*/
    /*text-align: center;*/
    /*position: relative;*/
    position: relative;
    height: 80%;
    /*min-height: 864px;*/
    min-height: 80vh;
    overflow: hidden;
}



@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink {
    animation: blinker 2s ease-in-out infinite;
}