/*@import "tailwindcss";*/
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "xtrusion";
    src: url("./fonts/xtrusion.ttf");
}

@font-face {
    font-family: "PaisleyCaps";
    src: url("./fonts/PaisleyCaps.ttf");
}

@font-face {
    font-family: "loopy";
    src: url("./fonts/loopy.ttf");
}

@font-face {
    font-family: "KARNIVBL";
    src: url("./fonts/KARNIVBL.ttf") format("truetype");
}

@font-face {
    font-family: "Taurus Mono Outline";
    src: url("./fonts/Taurusmonooutline-p7gjZ.otf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
}

div#parallax-wrapper {
    position: relative;
    align-items: center;
    text-align: center;
}

.parallax-section {
    position: relative;
    overflow: hidden;
    height: auto;
    padding: 0;
}

.parallax-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}
 div.parallax-content p {
    position: relative !important;
    color: white !important;
    z-index: 10 !important;
}
/*.parallax-content {*/
/*    position: relative;*/
/*    z-index: 2;*/
/*    padding: 18vh 5vw;*/
/*    background: rgba(255, 255, 255, 0.8);*/
/*    max-width: 80%;*/
/*}*/

.section-wipe {
    /*position: absolute;*/
    left: 0;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    /*z-index: 20;*/
    transform: translateY(0);
    pointer-events: none;
}

nav.navbar {
    position: fixed;
}

#banner {
    /*position: fixed;*/
    /*z-index: 30;*/
    top: 0;
    width: 100%;
    height: 10vh;
    padding: 0 5vw;
    background-color: black;
    color: darkorange;
    transition: all 3s ease;
    text-align: left;
}

.banner-letter {
    display: none;
    font-size: 6vh;
    color: darkorange;
    font-family: "KARNIVBL", display, serif;
    transition: color 0.5s ease, opacity 0.5s ease-out;
}

.banner-letter.burn {
    animation: letter-glow 1.4s 0s ease both;
}

@keyframes letter-glow {
    0% {
        opacity: 0;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    }
    66% {
        opacity: 1;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    }
    77% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0);
    }
}

#banner .row,
#banner .row .banner-row {
    height: 6vh;
}

.banner-row:nth-of-type(2) {
    background-color: transparent;
}

#banner-scroller {
    height: 180vh;
    width: 100%;
    background-color: black;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blinker 2s ease-in-out infinite;
    display: inline-block;
}

#nav-audio {
    background-color: transparent;
    right: 12px;
    top: 12px;
    /*position: fixed;*/
    transition: all 1.5s ease-in-out;
}

#audio-iframe {
    border: 0;
    width: auto;
    height: 50px;
}

.fade-out-blue {
    color: rgba(0, 212, 255, 0.9);
    opacity: 0;
}

.flash-white {
    color: white;
    transition: color 0.1s ease-out;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

.text-left button {
    /*position: fixed;*/
    top: 20px;
    left: 20px;
    /*z-index: 40;*/
    transition: opacity 0.3s ease;
}

#drawer-navigation {
    background-color: rgba(255,255,255,0.2);
    border-right: 1pt solid rgba(255,255,255,0.7);
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    color: transparent;
    /*z-index: 50;*/
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 215px;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#drawer-navigation.show {
    transform: translateX(0);
}

#banner {
    transition: opacity 0.3s ease;
}

#drawer-navigation button,
#open-nav{
    background-color: transparent;
    color: white;
    border: none;
    margin-top: 5rem;
    padding: 1.5rem;
    font-size: 1.25rem;
    /*position: relative;*/
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 1rem;
}

#drawer-navigation button:hover {
    background-color: rgba(128, 128, 128, 0.2);
    color: aquamarine;
}

#drawer-navigation button svg {
    fill: white;
}

#audio-iframe {
    width: 100%;
    height: 200px;
    border: none;
    margin-top: 1rem;
}

@media (prefers-color-scheme: dark) {
    #drawer-navigation button {
        color: white;
    }

    #drawer-navigation button:hover {
        background-color: rgba(128, 128, 128, 0.3);
    }
}

#parallax-section-1 .parallax-background {
    background-image: url('/static/hr_site/img/parallax_bg_1.jpg');
}

#section-wipe-1.section-wipe {
    background-image: url('/static/hr_site/img/section_wipe_1.jpg');
}

#parallax-section-2 .parallax-background {
    background-image: url('/static/hr_site/img/parallax_bg_2.jpg');
}