{# hr_access/_login_form.html #}
<form
    hx-post="{% url 'hr_access:login' %}"
    hx-target="#sidebar-access"
    hx-swap="innerHTML"
>
    {% csrf_token %}
    {{ authentication_form.non_field_errors }}

    <div>
        <label for="id_username">Username</label>
        {{ authentication_form.username }}
    </div>
    <div>
        <label for="id_password">Password</label>
        {{ authentication_form.password }}
    </div>

    <button type="submit">Log in</button>

    <button
        type="button"
        hx-get="{% url 'hr_access:password_reset' %}"
        hx-target="#modal-message-box"
        hx-swap="innerHTML"
        hx-trigger="click"
        onclick="document.getElementById('modal').classList.remove('hidden')"
    >
        Forgot password?
    </button>
</form>
