{# hr_access/_user_panel.html #}

<div class="user-panel">
    <button
        class="sidebar-btn sidebar-btn--link"
        hx-get="{% url 'hr_access:account_settings' %}"
        hx-target="#modal-content"
        hx-swap="innerHTML transition:true"
    >
        <p class="flex-between section-title sidebar-title">
            <span class="user-name">{{ request.user.username }}</span>
{#            <span aria-hidden="true">→</span>#}
        </p>
        <p class="small">{{ request.user.email }}</p>
    </button>

    <hr>

    <button
        class="sidebar-btn modal-title"
        hx-get="{% url 'hr_access:account_get_orders' %}"
        hx-target="#modal-content"
        hx-swap="innerHTML transition:true"
    >
        <span>Orders</span>
        <span class="badge">{{ order_count|default:0 }}</span>
    </button>

    {% if unclaimed_count %}
        <button
            class="sidebar-btn sidebar-btn--alert modal-title"
            hx-get="{% url 'hr_access:account_get_unclaimed_orders' %}"
            hx-target="#modal-content"
            hx-swap="innerHTML transition:true"
        >
            <span>Unclaimed Orders</span>
            <span class="badge badge--alert">!</span>
        </button>
    {% endif %}

    <button
        class="sidebar-btn modal-title"
        hx-get="{% url 'hr_access:account_settings' %}"
        hx-target="#modal-content"
        hx-swap="innerHTML transition:true"
    >
        Account
    </button>

    <hr>

    <button
        class="sidebar-btn modal-title"
        hx-post="{% url 'hr_access:auth_logout' %}"
        hx-target="#sidebar-access"
        hx-swap="innerHTML"
    >
        Log out
    </button>

    <hr>
</div>
