{# hr_live/templates/hr_live/_concert_card.html #}

<div class="concert-card">
    <div class="card-left date-panel" aria-label="Show date, time, and venue">
        <div class="date-block">
            <div class="day-of-week">
                {{ show.date|date:"D"|upper }}<br>
                {{ show.date|date:"M d"|upper }}
            </div>
            <div class="time">
                {{ show.time|time:"g:i A" }}
            </div>
            <div class="venue">
                {{ show.venue.name }}
            </div>
        </div>
        {% if show.venue.address %}
            {% with addr=show.venue.address %}
                <div class="directions-container prehide" style="visibility:hidden;">
                    <a class="card-btn directions-btn directions-btn--inline"
                       href="https://www.google.com/maps/search/?api=1&query={{ addr.street_address }} {{ addr.city }} {{ addr.subdivision }} {{ addr.postal_code }}|urlencode"
                       target="_blank" rel="noopener">
                        <i class="fas fa-map-marked-alt"></i>
                        <span>Directions</span>
                    </a>
                </div>
            {% endwith %}
        {% endif %}
    </div>

    <div class="card-center">
        <div class="acts">
            {% for act in show.lineup.all %}
                <div class="act-name">{{ act.name }}</div>
            {% endfor %}
        </div>
    </div>

</div>
