/* hr_core/static_src/css/flows/account.css */

/* NOTE:
   Firefox does not support :has().
   In Firefox, #modal-content will remain the scroll container.
   This is acceptable because the modal rarely overflows vertically
   and remains fully usable in that case.
*/

/* Keep this file as an import hub so main.css doesn't change */
@import "./account/change-password.css";
@import "./account/change-email.css";
@import "./account/account-orders.css";
@import "./account/account-settings.css";
@import "./account/order-claim-list.css";
@import "./account/unclaimed-orders.css";
@import "./account/post-purchase.css";
