{# hr_bulletin/templates/hr_bulletin/detail.html #}

{# for future progressive enhancement implementation #}

{% extends 'hr_site/base.html' %}

{% block content %}

    <article class="bulletin-detail">
        {% if post.hero %}
            <div class="bulletin-detail-hero">
                <img src="{{ post.hero.url }}" alt="{{ post.title }}">
            </div>
        {% endif %}

        <header>
            <h1>{{ post.title }}</h1>
            <div class="bulletin-meta">
                {% if post.publish_at %}
                    <time datetime="{{ post.publish_at|date:'c' }}">
                        {{ post.publish_at|date:"M j, Y" }}
                    </time>
                {% else %}
                    <time datetime="{{ post.created_at|date:'c' }}">
                        {{ post.created_at|date:"M j, Y" }}
                    </time>
                {% endif %}
            </div>
        </header>

        <div class="bulletin-body">
            {{ post.body|safe }}
        </div>
    </article>

{% endblock %}
