/*.card-count-badge {*/
/*    background: #00eaff;*/
/*    color: #000;*/
/*    border-radius: 12px;*/
/*    padding: 2px 6px;*/
/*    margin-left: 6px;*/
/*    font-weight: bold;*/
/*    min-width: 20px;*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*}*/

/*#cart-count,*/
/*.cart-label,*/
/*#cart-button,*/
/*.fa.fa-shopping-cart {*/
/*    background-color: transparent;*/
/*    color: white;*/
/*}*/