{# auto width 170-700px -- slim player with artwork, no tracklist#}
{#<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1766078263/size=small/bgcol=333333/linkcol=4ec5ec/transparent=true/" seamless><a href="https://hellareptilian.bandcamp.com/album/into-hella-we-ride-demo">Into Hella We Ride! [Demo] by Hella Reptilian!</a></iframe>#}

{# same but no artwork#}
{#<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1766078263/size=small/bgcol=333333/linkcol=4ec5ec/artwork=none/transparent=true/" seamless><a href="https://hellareptilian.bandcamp.com/album/into-hella-we-ride-demo">Into Hella We Ride! [Demo] by Hella Reptilian!</a></iframe>#}


{# square player 350x350, artwork only#}
{#<iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=1766078263/size=large/bgcol=333333/linkcol=4ec5ec/minimal=true/transparent=true/" seamless><a href="https://hellareptilian.bandcamp.com/album/into-hella-we-ride-demo">Into Hella We Ride! [Demo] by Hella Reptilian!</a></iframe>#}

{# standard player (tall)#}
{#<iframe style="border: 0; width: 350px; height: 621px;" src="https://bandcamp.com/EmbeddedPlayer/album=1766078263/size=large/bgcol=333333/linkcol=4ec5ec/transparent=true/" seamless><a href="https://hellareptilian.bandcamp.com/album/into-hella-we-ride-demo">Into Hella We Ride! [Demo] by Hella Reptilian!</a></iframe>#}

{# standard player (no artwork, no playlist)#}
{#<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1766078263/size=large/bgcol=333333/linkcol=4ec5ec/tracklist=false/artwork=none/transparent=true/" seamless><a href="https://hellareptilian.bandcamp.com/album/into-hella-we-ride-demo">Into Hella We Ride! [Demo] by Hella Reptilian!</a></iframe>#}

<div>
    <iframe style="border: 0; width: 100%; height: 42px;"
            src="https://bandcamp.com/EmbeddedPlayer/album=1766078263/size=small/bgcol=333333/linkcol=4ec5ec/transparent=true/" seamless>
        <a href="https://hellareptilian.bandcamp.com/album/into-hella-we-ride-demo">Into Hella We Ride! [Demo] by Hella Reptilian!</a>
    </iframe>
</div>