{% load compress %}
{% load static %}


<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PT4</title>
    {% include "hr_site/pt4_style.html" %}
</head>

<body>

<div class="sticky-container">
    <div class="content">
        <img src="{% static "hr_site/img/background/IMG_2722.jpg" %}" class="parallax-image" alt="">
        <div class="text">
            {% lorem 25 p %}
        </div>
    </div>
</div>
<div class="sticky-container">
    <div class="content">
        <img src="{% static "hr_site/img/background/alex-shuper-XRr_cRETpnc-unsplash.jpg" %}" class="parallax-image" alt="">
        <div class="text">
            {% lorem 25 p %}
        </div>
    </div>
</div>
<div class="sticky-container">
    <div class="content">
        <img src="{% static "hr_site/img/background/IMG_2768.jpg" %}" alt="" class="parallax-image">
        <div class="text">
            {% lorem 25 p %}
        </div>
    </div>
</div>

<script src="{% static "hr_site/pt4/pt4.js" %}" role="text/javascript" defer></script>

</body>

</html>