{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.13.3/dist/cdn.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"></script>

<!-- Include Locomotive Scroll JavaScript -->
<script src="{% static 'hr_site/hr_site-scroll.min.js' %}"></script>
<script>
    // Initialize Locomotive Scroll
    const scroll = new LocomotiveScroll({
        el: document.querySelector('[data-scroll-container]'),
        smooth: true,
    });
</script>

<script src="{% static 'hr_site/index.js' %}"></script>

{#<script>#}
    {#window.onload = function() {#}
    {#    window.onscroll = function() {#}
    {#        alert('have scroll event');#}
    {#    }#}
    {##}
{#    //window.onscroll = e => alert(`scroll: ${e}`);#}
{#    //window.pageYOffset#}
{#</script>#}