{# hr_shop/templates/hr_shop/manage/_right.html #}

{#  Right panel dispatcher.                                           #}
{#  Delegates to the appropriate sub-template based on panel_state,   #}
{#  which is resolved by build_panels_context() in manage_helpers.py. #}


<section class="pmu-right m-shell" id="pmu-right">
    {% if panel_state == 'delete' and delete_plan %}
        {% include "hr_shop/manage/_confirm_delete.html" %}

    {% elif panel_state == 'product' and product_form %}
        {% include "hr_shop/manage/_form_product.html" %}

    {% elif panel_state == 'variant' and variant_form %}
        {% include "hr_shop/manage/_form_variant.html" %}

    {% elif panel_state == 'option_type' and option_type_form %}
        {% include "hr_shop/manage/_form_option_type.html" %}

    {% elif panel_state == 'option_value' and option_value_form %}
        {% include "hr_shop/manage/_form_option_value.html" %}

    {% elif panel_state == 'browser' %}
        {% include "hr_shop/manage/_panel_browser.html" %}

    {% else %}
        {% include "hr_shop/manage/_panel_empty.html" %}
    {% endif %}
</section>
