{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% compress css %}
        <link type="text/x-scss" href="{% static 'bootstrap/bootstrap.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Shade&family=Bungee+Spice&family=Cabin+Sketch:wght@400;700&family=Dosis:wght@200;300&family=Major+Mono+Display&family=Montserrat+Subrayada:wght@400;700&family=Raleway+Dots&family=Rock+Salt&family=Tilt+Neon&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">



    <style>

        body {
            font-size: 4vh;
            line-height: 60%;
        }

        #content-wrapper {
            height: 100%;
            min-height: 1080px;
            top: 0;
            bottom: 0;
        }

        .parallax-container {
            position: relative;
            {#height: 80%;#}
            min-height: 864px;
            overflow: hidden;
        }

        .parallax-text {
            position: absolute;
            {#top: 50%;#}
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 1;
            font-size: 14px;
            color: white; /* Assuming white text for better visibility */
            padding: 10vh 5vw;
            top: 10vh;
            bottom: 10vh;
            font-family: "Copperplate Gothic Light", serif;
        }

        .parallax-background {
            position: sticky;
            top: 0;
            {#height: 100%;#}
            {#min-height: 3318px;#}
            min-height: 1080px;
            padding: 10vh 5vw;
        }

        #pb1 {
            background-image: url({% static 'hr_site/pexels-felipe-ribeiro-2271683.jpg' %});
            background-size: cover;
            background-position: 50% 50%;
        }

        #pb2 {
            background-image: url({% static 'hr_site/pexels-aleksandar-pasaric-3342739.jpg' %});
            background-size: cover;
            background-position: 50% 50%;
        }
        {#===========================================#}

        .sticky {
            position: fixed;
            top: 0;
            {#left: 0;#}
            width: 100%;
            padding-top: 102px;
        }

        .wipe-img {
            min-width: 1920px;
            width: 100%
        }

        .banner {
            font-size: 48pt;
            font-family: 'Bungee Hairline', sans-serif;

            /*font-family: "Taurus Mono Outline", fantasy;*/
        }

        #page-header {
            padding: 0 10vw;
            background-color: black;
            color: darkorange;
            font-size: 4rem;
            transition: all 3s ease;
            height:
        }

        .unstick {
            top: -500px;
        }

        body {
            background-color: black;
        }

        @keyframes blinker {
            50% {
                opacity: 0;
            50% {
                opacity: 0;
            }
        }

    .blink {
        animation: blinker 2s ease-in-out infinite;
    }

    </style>

{#    {% compress css %}#}
{#        <link href="{% static 'hr_site/burn.css' %}" rel="stylesheet" media="screen">#}
{#    {% endcompress %}#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{#    <script src="{% static 'hr_site/index.js' %}"></script>#}
</head>


<body>
    <div id="content-wrapper">

{#        <div>#}

            <section class="data-scroll-section" style="padding-top: 40px;padding-bottom: 40px; width: 100%;">
                <div id="page-header" class="container-fluid"    style="height: 1300px;">
                    <h2 data-scroll data-scroll-sticky data-scroll-target="#page-header" id="banner-wrapper">
{#                        <div class="row">#}
                            <span class="inline-block banner blink"  data-scroll data-scroll-delay="0.00" data-scroll-speed="5">H</span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="5.15" data-scroll-speed="5">E</span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.20" data-scroll-speed="5">L</span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.25" data-scroll-speed="5">L</span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.30" data-scroll-speed="5">A</span><span>&#10;</span>
{#                            <br>#}
    {#                    <span class="inline-block banner"  data-scroll data-scroll-delay="0.35" data-scroll-speed="5"></span>#}

                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.40" data-scroll-speed="5">R</span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.45" data-scroll-speed="5">E</span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.50" data-scroll-speed="5">P</span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.55" data-scroll-speed="5">T</span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.60" data-scroll-speed="5">I</span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.65" data-scroll-speed="5">L</span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.70" data-scroll-speed="5">I</span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.75" data-scroll-speed="5">A</span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.80" data-scroll-speed="5">N</span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.85" data-scroll-speed="5">!</span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.80" data-scroll-speed="5"></span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.80" data-scroll-speed="5"></span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.80" data-scroll-speed="5"></span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.80" data-scroll-speed="5"></span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.80" data-scroll-speed="5"></span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.80" data-scroll-speed="5"></span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.80" data-scroll-speed="5"></span>
                            <span class="inline-block banner"  data-scroll data-scroll-delay="0.80" data-scroll-speed="5" id="header-end"></span>
{#                        </div>#}

                    </h2>
                </div>
            </section>
{#        </div>#}

        <section id="body-wrapper">

            <div class="parallax-container" id="pc-1"> {# .sticky-container #}
                <div class="parallax-background" id="pb1">
                    <div class="parallax-text"> {# .parallax-foreground #}
                        <div class="text-wrapper" data-foreground-order="1">
                            <h2 class="section-header">Parallax Header</h2>
                            <h3>---START TEXT---</h3>
                            {% lorem 36 p %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-wipe" data-wipe-order="1"><img src="{% static 'hr_site/mid/blindfold_by_the_sea.jpg' %}" alt="" class="wipe-img"></div>

            <div class="parallax-container"> {# .sticky-container #}
                <div class="parallax-background" id="pb2"> {# .parallax-background  && pc-x #}
                    <div class="parallax-text"> {# .parallax-foreground #}
                        <div class="text-wrapper" data-foreground-order="2">
                            <h2 class="section-header">Parallax Header</h2>
                            <h3>---START TEXT---</h3>
                            {% lorem 36 p %}
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>


{#<script defer>#}
{#    document.addEventListener('DOMContentLoaded', function() {#}
{##}
{#        let parallaxBackgrounds = document.querySelectorAll('.parallax-background');#}
{#        parallaxBackgrounds.forEach(function(background) {#}
{#            background.querySelector('.text-wrapper');#}
{#        })#}
{##}
{#        let backgroundScrollSpeed = 0.5;#}
{#        let foregroundScrollSpeed = 0.75;#}
{#        const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0);#}
{#        const contentMarginPixelCount = 0.2 * vh;#}
{##}
{#        function updateParallaxBackgroundPosition() {#}
{#            let windowYOffset = window.scrollY;#}
{#            let backgrounds = document.querySelectorAll('.parallax-background');#}
{#            let counter = 1;#}
{##}
{#            backgrounds.forEach(function(background) {#}
{#                background.style.backgroundPosition = '50% ' + (windowYOffset * backgroundScrollSpeed) + 'px';#}
{#                let foreground = background.querySelector('.text-wrapper');#}
{#                if (foreground) {#}
{#                    foreground.style.backgroundPosition = '50% ' + (windowYOffset * foregroundScrollSpeed) + 'px';#}
{#                    let foregroundHeight = foreground.offsetHeight;#}
{#                    console.log(`${counter}: foregroundHeight = ${foregroundHeight}`);#}
{#                    //let adjustedHeight = foregroundHeight - ((foregroundHeight * (foregroundScrollSpeed / backgroundScrollSpeed)) - foregroundHeight);// + (0.1 * vh);#}
{#                    //let adjustedHeight = foregroundHeight * ( foregroundScrollSpeed / backgroundScrollSpeed) - (foregroundHeight * (backgroundScrollSpeed / foregroundScrollSpeed)) - (0.2 * vh);#}
{#                    let adjustedHeight = (foregroundHeight - ((foregroundHeight * (foregroundScrollSpeed / backgroundScrollSpeed))) * (foregroundScrollSpeed / backgroundScrollSpeed));#}
{#                    console.log(`${counter}: AdjustedHeight (${adjustedHeight}) = ((foregroundHeight (${foregroundHeight}) * (foregroundScrollSpeed (${foregroundScrollSpeed}) / backgroundScrollSpeed (${backgroundScrollSpeed}) )) - foregroundHeight (${foregroundHeight})`)#}
{#                    background.style.height = adjustedHeight + 'px';#}
{#                    counter += 1;#}
{#                }#}
{#            });#}
{#        }#}
{##}
{#        // Update background position on scroll#}
{#        window.addEventListener('scroll', updateParallaxBackgroundPosition);#}
{##}
{#        // Initial update#}
{#        updateParallaxBackgroundPosition();#}
{#    });#}
{#</script>#}

{#<script defer>#}
{#$(() => {#}

    {#const headerEnd = $('#header-end');#}
    {#headerEnd.css('display', 'none')#}
    {#const bodyWrapper = $('#body-wrapper');#}
    {##}
    {#bodyWrapper.hide();#}
    {##}
    {#function letBodyScroll() {#}
    {#    bodyWrapper.css('position', 'relative');#}
    {# }#}
    {##}
    {#const observer = new MutationObserver(function(mutationsList, observer) {#}
    {#    const classList = Array.from(headerEnd.classList);#}
    {#    if (!classList.includes('hidden')) {#}
    {#        letBodyScroll();#}
    {#        observer.disconnect();#}
    {#    }#}
    {# });#}
    {##}
    {#observer.observe(headerEnd, { attributes: true });#}
    {##}
    {##}
    {##}
    {#$("span.inline-block.banner").hide()#}
    {##}
    {#let viewportHeight = $(window).height();#}
    {##}
    {#$(window).resize(function () {#}
    {#    viewportHeight = $(window).height();#}
    {# });#}
    {##}
    {#let scrolled = false;#}
    {#let buffer = 76;#}
    {#let index = 0;#}
    {##}
    {#const trigger = 76;#}
    {##}
    {##}
    {#$(document).on("scroll", function () {#}
    {##}
    {#    let loadingHeader = $('#header-end').css('display') === 'none';#}
    {#    let header = document.getElementById("page-header");#}
    {##}
    {#    if (loadingHeader) {#}
    {##}
    {#        let sticky = header.offsetTop;#}
    {##}
    {#        if (window.scrollY > sticky - 400) {#}
    {#            header.classList.add("sticky");#}
    {#        } else {#}
    {#            //$('#page-header').slideUp(500);#}
    {#            // $('#page-header').removeClass("sticky", 1500);#}
    {#            // header.classList.remove("sticky");#}
    {#        }#}
    {##}
    {#        if (!scrolled) {#}
    {#            scrolled = true;#}
    {#            let toTop = $(window).scrollTop();#}
    {#            toTop = Math.round(toTop);#}
    {#            let quotient = Math.floor(toTop / trigger);#}
    {##}
    {#            if ((toTop >= trigger) && (quotient > index)) {#}
    {#                index = buffer / trigger;#}
    {#                $(`span.inline-block.banner:nth-child(${index})`)#}
    {#                    .addClass('burn')#}
    {#                    .fadeIn(1000)#}
    {#                    .removeClass("hidden");#}
    {#                buffer += trigger;#}
    {#            }#}
    {#            if (index === 2) $('span.inline-block.banner.blink').css('animation', 'none');   //  remove#}
    {##}
    {#            scrolled = false;#}
    {#            return scrolled;#}
    {#        }#}
    {#        scrolled = false;#}
    {#        return scrolled;#}
    {#    } else {#}
    {#        $('#page-header').addClass("unstick");#}
    {#    }#}
    {# });#}

{# });#}
{#    </script>#}
{#    <script defer>#}
{#        document.addEventListener('DOMContentLoaded', function() {#}

    <script defer>
        document.addEventListener('DOMContentLoaded', function() {
            // jQuery equivalent: $("span.inline-block.banner").hide()
            document.querySelectorAll("span.inline-block.banner").forEach(function(element) {
                element.style.display = "none";
            });

            // jQuery equivalent: let viewportHeight = $(window).height();
            let viewportHeight = window.innerHeight || document.documentElement.clientHeight;

            $('#page-header').css({
                'min-height':`${window.innerHeight > 1700 ? window.innerHeight : 1700}px`,
                'height': '100%',
                'margin': '0',
                'padding-top': '250px'
            })

            // jQuery equivalent: $(window).resize(function () { viewportHeight = $(window).height(); });
            window.addEventListener('resize', function() {
                viewportHeight = window.innerHeight || document.documentElement.clientHeight;
            });

            let scrolled = false;
            let buffer = 76;
            let index = 0;
            const trigger = 76;

            // jQuery equivalent: $(document).on("scroll", function () { ... });
            window.addEventListener("scroll", function() {
                let loadingHeader = document.getElementById("header-end").style.display === 'none';
                let header = document.getElementById("page-header");

                if (loadingHeader) {
                    //let sticky = header.offsetTop;
                    //alert(`sticky = ${sticky}`);
                    //if (window.scrollY > sticky - 400) {
                    if (window.scrollY > 1500) {
                        header.classList.add("sticky");
                    } else {
                        header.slideUp(500);
                        header.removeClass("sticky", 1500);
                        header.classList.remove("sticky");
                    }

                    if (!scrolled) {
                        scrolled = true;
                        let toTop = window.scrollY || document.documentElement.scrollTop;
                        toTop = Math.round(toTop);
                        let quotient = Math.floor(toTop / trigger);

                        if ((toTop >= trigger) && (quotient > index)) {
                            index = buffer / trigger;
                            document.querySelector(`span.inline-block.banner:nth-child(${index})`).classList.add('burn');
                            document.querySelector(`span.inline-block.banner:nth-child(${index})`).style.display = 'inline-block'; //fadeIn(1000)
                            document.querySelector(`span.inline-block.banner:nth-child(${index})`).classList.remove("hidden");
                            buffer += trigger;
                        }
                        if (index === 2) document.querySelector('span.inline-block.banner.blink').style.animation = 'none'; // remove animation

                        scrolled = false;
                        return scrolled;
                    }
                    scrolled = false;
                    return scrolled;
                } else {
                    document.getElementById('page-header').classList.add("unstick");
                }
            });

            let backgroundScrollSpeed = 0.5;
            let foregroundScrollSpeed = 0.75;
            const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0);
            //const contentMarginPixelCount = 0.2 * vh;

            function updateParallaxBackgroundPosition() {
                let windowYOffset = window.scrollY;
                let backgrounds = document.querySelectorAll('.parallax-background');

                backgrounds.forEach(function(background) {
                    background.style.backgroundPosition = '50% ' + (windowYOffset * backgroundScrollSpeed) + 'px';
                    let foreground = background.querySelector('.text-wrapper');
                    if (foreground) {
                        foreground.style.backgroundPosition = '50% ' + (windowYOffset * foregroundScrollSpeed) + 'px';
                        let foregroundHeight = foreground.offsetHeight;
                        //let adjustedHeight = contentMarginPixelCount + (foregroundHeight / (foregroundScrollSpeed / backgroundScrollSpeed));
                        console.log (`1 vh = ${vh}, .2vh = ${.2 * vh}`);
                        background.style.height = (foregroundHeight * 1.5) - ((foregroundHeight * (2/3))) + 1.5*vh  + 'px';
                        //background.style.height = foregroundHeight * 1.25 + 'px';
                        //background.style.height = adjustedHeight + 'px';
                    }
                });
            }

            // Update background position on scroll
            window.addEventListener('scroll', updateParallaxBackgroundPosition);

            // Initial update
            updateParallaxBackgroundPosition();
        });
    </script>


{#    <script defer>#}
{#        document.addEventListener('DOMContentLoaded', function() {#}
{#            let counter = 1;#}
{#            let backgroundScrollSpeed = 0.5;#}
{#            let windowYOffset = window.scrollY;#}
{##}
{#            let backgrounds = document.querySelectorAll('.parallax-background');#}
{##}
{#            backgrounds.forEach(function(background) {#}
{#                background.style.backgroundPosition = '50% ' + (windowYOffset * backgroundScrollSpeed) +'px';#}
{#                let foreground = background.querySelector('.parallax-foreground');#}
{#                if (foreground) {#}
{#                    let foregroundHeight = foreground.offsetHeight;#}
{#                    background.style.height = foregroundHeight * 1.25 + 'px';#}
{#                    alert(`Setting Section ${counter} to ${foregroundHeight * 1.25}px`)#}
{#                    counter += 1;#}
{#                }#}
{#            });#}
{#            #}
{#        });#}
{#    </script>#}


{#    <script>#}
{#        document.addEventListener('DOMContentLoaded', function() {#}
{#            let parallaxBackground = document.querySelector('.parallax-background');#}
{#            let speed = 0.5;#}
{##}
{#            window.addEventListener('scroll', function() {#}
{#                let windowYOffset = window.scrollY;#}
{#                parallax.style.backgroundPosition = `50% ${(windowYOffset * speed)}px`;#}
{#            });#}
{##}
{#            let parallaxText = document.querySelector(".parallax-text");#}
{#            let contentHeight = parallaxText.offsetHeight;#}
{#            parallaxBackground.style.height = `${(contentHeight * 1.25)}px`;#}
{#        });#}
{#    </script>#}
</body>
</html>
