<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vanilla JS Parallax Scroll</title>
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">#}
    <link rel="stylesheet" href="{% static "hr_site/build.css" %}">
</head>

<body class="bg-black">
    <div id="parallax-wrapper">
        <section id="banner" class="container-fluid">
            <div class="row">
                <div class="banner-row col-xs-12">
                    <span class="banner-letter blink">H</span>
                    <span class="banner-letter">E</span>
                    <span class="banner-letter">L</span>
                    <span class="banner-letter">L</span>
                    <span class="banner-letter">A</span>
                    <span class="banner-letter">&nbsp;</span>
        {#            </div>#}
        {#            <div class="banner-row col-xs-12">#}
                    <span class="banner-letter">R</span>
                    <span class="banner-letter">E</span>
                    <span class="banner-letter">P</span>
                    <span class="banner-letter">T</span>
                    <span class="banner-letter">I</span>
                    <span class="banner-letter">L</span>
                    <span class="banner-letter">I</span>
                    <span class="banner-letter">A</span>
                    <span class="banner-letter">N</span>
                    <span class="banner-letter">!</span>
                    <span class="ml-2"></span>
                    <span id="nav-audio">
{#                        <iframe id="audio-iframe"    {# orig bgcol=333333 #}
{#                                src="https://bandcamp.com/EmbeddedPlayer/album=1766078263/size=small/bgcol=000000/linkcol=4ec5ec/transparent=true/" seamless>#}
{#                             <a href="https://hellareptilian.bandcamp.com/album/into-hella-we-ride-demo">Into Hella We Ride! [Demo] by Hella Reptilian!</a>#}
{#                        </iframe>#}
                    </span>
                </div>
                <div class="banner-row col-xs-12">
                    <span id="banner-end"></span>
                </div>
            </div>
        </section>

        <section id="banner-scroller"></section>

        <div id="section-wipe-0"
            class="section-wipe"
            style="background-image: url('{% static "hr_site/img/wipe/bryan-goff-we1ky8_ZTHg-unsplash.jpg" %}');">
        </div>

        <div class="text-left" id="open-nav-btn-container">
            <button class="rounded-lg text-sm p-1.5 top-2.5 end-2.5 inline-flex items-right" id="nav-open" type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation">
                <i class="fa-regular fa-square-caret-right"></i>
            </button>
        </div>

{#        <div id="drawer-navigation" class="fixed top-0 left-0 transform -translate-x-full transition-transform duration-300 ease-in-out h-full" tabindex="-1">#}
{#            <button type="button" data-drawer-hide="drawer-navigation" class="text-gray-400 bg-transparent hover:bg-gray-200 hover-text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-right dark:hover:bg-gray-600 dark:hover:text-white">#}
{#                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>#}
{#                <span class="sr-only">Close menu</span>#}
{#            </button>#}
{#            <br />#}
{#            <iframe id="audio-iframe"    {# orig bgcol=333333 #}
{#                    src="https://bandcamp.com/EmbeddedPlayer/album=1766078263/size=small/bgcol=000000/linkcol=4ec5ec/transparent=true/" seamless>#}
{#                 <a href="https://hellareptilian.bandcamp.com/album/into-hella-we-ride-demo">Into Hella We Ride! [Demo] by Hella Reptilian!</a>#}
{#            </iframe>#}
{#        </div>#}

        <div id="drawer-navigation" class="fixed top-0 left-0 transform -translate-x-full transition-transform duration-300 ease-in-out h-full" tabindex="-1">
{#    <button type="button" data-drawer-hide="drawer-navigation" class="rounded-lg text-sm p-1.5 top-2.5 end-2.5 inline-flex items-right">#}
{#        <svg aria-hidden="true" class="w-5 h-5" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
{#            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>#}
{#        </svg>#}
{#        <span class="sr-only">Close menu</span>#}
{#    </button>#}

    <button type="button" data-drawer-hide="drawer-navigation" class="rounded-lg text-sm p-1.5 top-2.5 end-2.5 inline-flex items-right">
        <!-- Replaced the old SVG with your new one -->
    {#    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5" fill="white">#}
    {#        <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"/>#}
    {#    </svg>#}

    {#    <i class="fa-regular fa-circle-right"></i>#}
        <i class="fa-regular fa-circle-xmark"></i>
        <span class="sr-only">Close menu</span>
    </button>



        <!-- Make sure the iframe is below the button in flow -->
    <iframe style="border: 0; width: 200px; height: 342px;" src="https://bandcamp.com/EmbeddedPlayer/album=1766078263/size=large/bgcol=333333/linkcol=4ec5ec/tracklist=false/transparent=true/" seamless><a href="https://hellareptilian.bandcamp.com/album/into-hella-we-ride-demo">Into Hella We Ride! [Demo] by Hella Reptilian!</a></iframe>
    {#    <iframe id="audio-iframe"#}
    {#            src="https://bandcamp.com/EmbeddedPlayer/album=1766078263/size=small/bgcol=000000/linkcol=4ec5ec/transparent=true/"#}
    {#            seamless>#}
    {#        <a href="https://hellareptilian.bandcamp.com/album/into-hella-we-ride-demo">Into Hella We Ride! [Demo] by Hella Reptilian!</a>#}
    {#    </iframe>#}
    </div>


        <section id="parallax-section-1" class="parallax-section">
            <div class="parallax-background" style="background-image: url('https://wallpapercat.com/w/full/3/6/b/56138-1284x2778-phone-hd-neon-wallpaper.jpg');"></div>
            <div class="parallax-content max-w-4xl mx-auto">
                <h1 class="text-4xl font-bold">Parallax Section 1</h1>
                {% lorem 25 p %}
                <h1 class="text-4xl font-bold">END SECTION</h1>
            </div>
        </section>

        <div id="section-wipe-1" class="section-wipe" style="background-image: url('https://wallpapers.com/images/hd/ultra-hd-dual-monitor-j57d6vs60uvvwnb2.jpg');"></div>

        <section id="parallax-section-2" class="parallax-section">
            <div class="parallax-background" style="background-image: url('https://images.unsplash.com/photo-1562575214-da9fcf59b907?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGVjaG5vbG9neSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D');"></div>
            <div class="parallax-content max-w-4xl mx-auto">
                <h1 class="text-4xl font-bold">Parallax Section 2</h1>
                {% lorem 25 p %}
                <h1 class="text-4xl font-bold">END SECTION</h1>
            </div>
        </section>

    </div>

    <script src="https://kit.fontawesome.com/ba660226a8.js" crossorigin="anonymous"></script>

    <script src="{% static 'hr_site/index.js' %}"></script>
</body>
</html>
</title>
</head>
<body>

</body>
</html>