{# hr_access/templates/hr_access/registration/_login.html #}
{% load form_group %}

<div class="sidebar-panel sidebar-auth">
    <h2 class="sub-header modal-title">Sign In</h2>


{% include 'hr_common/_non_field_errors.html' %}

    <form
            method="post"
            action="{% url 'hr_access:auth_login' %}"
            hx-post="{% url 'hr_access:auth_login' %}"
            hx-target="#sidebar-access"
            hx-swap="innerHTML transition:true"
            class="form login-form"
    >
        {% csrf_token %}

        <div>
            <div>
                {% form_group form.username group_classes='form-control' placeholder='Username' label='' %}
            </div>
        </div>

        <div class="form-row">
            <div class="form-col form-group">
                {% form_group form.password group_classes='form-control' placeholder='Password' label='' %}
            </div>
        </div>

        <div class="small">
            <button
                type="button"
                class="link-btn"
                hx-get="{% url 'hr_access:password_reset' %}"
                hx-target="#modal-content"
                hx-swap="innerHTML transition:true"
            >
                Forgot password?
            </button>
        </div>

        <div class="modal-actions stack uniform">
            <button type="submit" class="card-btn btn-neon btn-green btn-sm">
                Sign In
            </button>

            <button
                    type="button"
                    class="card-btn btn-neon btn-blue btn-sm"
                    hx-get="{% url 'hr_access:account_signup' %}"
                    hx-target="#modal-content"
                    hx-swap="innerHTML transition:true"
            >
                Create Account
            </button>
        </div>
    </form>
</div>
