{# hr_shop/templates/_product_detail_modal.html #}

{% load static %}

<div class="modal-content">
    <h3 class="modal-title">{{ product.name }}</h3>

    {% if primary_variant.image %}
        <img src="{{ primary_variant.image.url }}" alt="{{ product.name }}" class="modal-image">
    {% elif product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="modal-image">
    {% else %}
        <img src="{% static 'hr_shop/img/placeholder_2.png' %}" alt="{{ product.name }}" class="modal-image">
    {% endif %}

    {% if product.description %}
        <p class="modal-description">{{ product.description }}</p>
    {% endif %}

    {% if option_types %}
        <form id="product-options-form">
            {% for opt in option_types %}
                <div class="modal-variant-group">
                    <label for="opt-{{ opt.code }}">{{ opt.name }}</label>
                    <select id="opt-{{ opt.code }}" name="opt_{{ opt.code }}" class="modal-select">
                        <option value="">Select {{ opt.name }}</option>
                        {% for val in opt.values.all %}
                            <option value="{{ val.id }}"
                                    {% if opt.default_value_id == val.id %}selected{% endif %}>
                                {{ val.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </form>
    {% endif %}

    <div class="modal-buttons">
        <button class="card-btn buy-button" data-product-id="{{ product.id }}" data-role="buy-selected-variant">
            <i class="fas fa-cart-plus"></i> Buy
        </button>
        <button class="card-btn outline" data-modal-close>
            Close
        </button>
    </div>

</div>