{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PT3</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Shade&family=Bungee+Spice&family=Cabin+Sketch:wght@400;700&family=Dosis:wght@200;300&family=Major+Mono+Display&family=Montserrat+Subrayada:wght@400;700&family=Raleway+Dots&family=Rock+Salt&family=Tilt+Neon&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">

    {% include "locomotive/pt3style.html" %}

</head>

<body>
<section id="page-wrapper">

    <section id="banner" class="container-fluid">
        <div class="row">
            <div class="banner-row col-xs-12">
                <span class="banner-letter blink">H</span>
                <span class="banner-letter">E</span>
                <span class="banner-letter">L</span>
                <span class="banner-letter">L</span>
                <span class="banner-letter">A</span>
                <span class="banner-letter">&nbsp;</span>
{#            </div>#}
{#            <div class="banner-row col-xs-12">#}
                <span class="banner-letter">R</span>
                <span class="banner-letter">E</span>
                <span class="banner-letter">P</span>
                <span class="banner-letter">T</span>
                <span class="banner-letter">I</span>
                <span class="banner-letter">L</span>
                <span class="banner-letter">I</span>
                <span class="banner-letter">A</span>
                <span class="banner-letter">N</span>
                <span class="banner-letter">!</span>
            </div>
            <div class="banner-row col-xs-12">
                <span id="banner-end"></span>
            </div>
        </div>
    </section>

    <section id="banner-scroller"></section>



    <div class="section-wipe">
        <div class="img-wrapper">
            <img src="{% static "locomotive/img/wipe/bryan-goff-we1ky8_ZTHg-unsplash.jpg" %}" alt="">
        </div>
    </div>



    <section id="sectionTwoWrapper" class="content-section">
        <div class="parallax-background" data-section="2" id="pb-1">
            <div class="parallax-foreground">
                <h2 class="section-header">Section 2</h2>
                {% lorem 15 p %}
            </div>
        </div>
    </section>



    <div class="section-wipe">
        <div class="img-wrapper">
            <img src="{% static "locomotive/img/wipe/leiada-krozjhen-tl8hDzozQmc-unsplash.jpg" %}" alt="">
        </div>
    </div>



    <section id="sectionThreeWrapper" class="content-section">
        <div class="parallax-background" data-section="3">
            <div class="parallax-foreground">
                <h2 class="section-header">Section 3</h2>
                {% lorem 15 p %}
            </div>
        </div>
    </section>


    <div class="section-wipe">
        <div class="img-wrapper">
            <img src="{% static "locomotive/img/wipe/shubham-dhage-YIcaEZMWr2w-unsplash.jpg" %}" alt="">
        </div>
    </div>


    <section id="sectionFourWrapper" class="content-section">
        <div class="parallax-background" data-section="4">
            <div class="parallax-foreground">
                <h2 class="section-header">Section 4</h2>
                {% lorem 15 p %}
            </div>
        </div>
    </section>

</section>

<script src="{% static "locomotive/pt3/pt3.js" %}" role="text/javascript" defer></script>

</body>

</html>