{% load static %}

<style>

    * {
        margin: 0;
        padding: 0;
    }

    @media (orientation: portrait) {
        :root {
            {#font-size: calc(14px + 0.5vw);#}
            --root-font-size: 3vh;
            font-size: var(--root-font-size);
        }
    }
    @media (orientation: landscape) {
        :root {
            --base-font-size: 1vw;
            font-size: var(--base-font-size);
        }
    }

    body {
        min-height: 100vh;
        min-width: 100vw;
        font-size: 1rem;
    }

    h1 {
        font-size: 5rem;
    }

    p {
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }

    #page-wrapper {
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;
        position: relative;
    }

    #banner {
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 10vh;
        {#height: 200px;#}
        {#font-size: 48pt;#}
        font-family: 'Bungee Hairline', sans-serif;
        padding: 0 5vw;
        background-color: black;
        color: darkorange;
            {#font-size: 4rem;#}
        transition: all 3s ease;
    }

    .banner-letter {
        display: none;
        font-size: 6vh;
        margin-top: -3vh;
        color: darkorange;
        font-family: 'Bungee Hairline', sans-serif;
        transition: all 0.75s ease-in-out;
        {#height: 8vh;#}
    }
    .banner-letter.burn {
        animation: letter-glow 1.4s 0s ease both;
    }

    @keyframes letter-glow {
        0% {
            opacity: 0;
            text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
        }
        66% {
            opacity: 1;
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
        }
        77% {
            opacity: 1;
        }
        100% {
            opacity: 0.7;
            text-shadow: 0 0 10px rgba(255, 255, 255, 0);
        }
    }

    #banner .row,
    #banner .row .banner-row {
        height: 6vh;
    }

    #banner-scroller {
        {#height: 1500px;#}
        height: 180vh;
        width: 100%;
        background-color: transparent;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    .blink {
        animation: blinker 2s ease-in-out infinite;
        display: inline-block;
    }

    .parallax-background[data-section="2"] {
        background-image: url("{% static "locomotive/img/background/zoltan-tasi-HQPJEEjHqSE-unsplash.jpg" %}");
    }

    .parallax-background[data-section="3"] {
        background-image: url("{% static "locomotive/img/background/pexels-todd-trapani-2276927.jpg" %}");
    }

    .parallax-background[data-section="4"] {
        background-image: url("{% static "locomotive/img/background/alex-shuper-XRr_cRETpnc-unsplash.jpg" %}");
    }

    .content-section {
        position: relative;
        overflow: hidden;
        {#padding: 10vh 5vw;#}
        {#padding: 0 5vw;#}
    }

    .content-section.sticky {
        position: sticky;
        top: 0;
    }

    .parallax-background {
        {#position: absolute;#}
        position: sticky;
        padding: 10vh 5vw;
        top: 0;
        height: 150%;
        {#this was 150%#}
        min-height: 150vh;
        {#max-height: 100%;#}
        background-size: cover;
        {#background-repeat: no-repeat;#}
        background-position: 50% 50%;
        {#background-position: center top;#}
     }

    {#.parallax-background {#}
    {#    position: sticky;#}
    {#    top: 0;#}
    {#    min-height: 115vh;#}
    {#    background-attachment: fixed;#}
    {#    background-position: center;#}
    {#    background-repeat: no-repeat;#}
    {#    background-size: cover;#}
    {# }#}

    {#.parallax-foreground {#}
    {#    width: 80vw;#}
    {#    position: absolute;#}
    {#    z-index: 1;#}
    {#    left: 50%;#}
    {#    transform: translate(-50%, 50%);#}
    {#    font-size: 5rem;#}
    {#    line-height: 1.15;#}
    {#    color: white;#}
    {#    padding: 10vh 2vw;#}
        {#background-color: rgba(7, 21, 29, 0.7);#}
    {#    background-color: rgba(0, 0, 0, 0.8);#}
        {#top: 10vh;#}
        {#bottom: 10vh;#}
    {#    font-family: "Copperplate Gothic Light", serif;#}
        {#margin-bottom: 10vh;#}
    {# }#}

    .parallax-foreground {
        width: 80vw;
        {#margin-left: 10vw;#}
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translate(-50%, 0);
        line-height: normal;
        color: white;
        padding: 10vh 2vw;
        {#background-color: rgba(7, 21, 29, 0.7);#}
        background-color: rgba(0, 0, 0, 0.8);
        {#top: 10vh;#}
        {#bottom: 10vh;#}
        font-family: "Copperplate Gothic Light", serif;
        {#margin-bottom: 10vh;#}
    }

    .img-wrapper {
        {#position: relative;#}
    }

    .img-wrapper img {
        width: 100%;
        height: auto;
        max-width: 100vw;
        position: relative;
    }

    .img-wrapper:first-of-type img {
        z-index: 5;
    }
</style>
